---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=token&q=Warszawa&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":21.0118,"lat":52.2298},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"base":"stations","main":{"temp":0.78,"feels_like":-3.41,"temp_min":-1.42,"temp_max":2.66,"pressure":1028,"humidity":71},"visibility":10000,"wind":{"speed":4.12,"deg":60},"clouds":{"all":40},"dt":1646862493,"sys":{"type":2,"id":2040124,"country":"PL","sunrise":1646802284,"sunset":1646843316},"timezone":3600,"id":756135,"name":"Warsaw","cod":200}'
  recorded_at: Wed, 09 Mar 2022 21:52:35 GMT
recorded_with: VCR 6.0.0
